.footer{

    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    width: 100%;
  
}

a {
    color: var(--textColor);
    padding-left: 1rem;
    padding-right: 1rem;
}